Repository PassFort/company-data-reference-integration: changes, and which Codecov flags are due for each by the changed paths.
All: bvd, cifas, comply_advantage, creditsafe, dowjones_watchlist_api, duedil, equifax, equifax_au, gdc_worldview, iovation, lexisnexis_id, mastercard_match, onfido, trulioo, uk_charities_commission, vsure, worldcheck

codecov.yml:

codecov:
  max_report_age: false
  archive:
    uploads: false

flags:
  # filter the folder(s) you wish to measure by that flag
  bvd:
    paths:
      - bvd/
  cifas:
    paths:
      - cifas/
  comply_advantage:
    paths:
      - comply_advantage/
  creditsafe:
    paths:
      - creditsafe/
  dowjones_watchlist_api:
    paths:
      - dowjones_watchlist_api/
  duedil:
    paths:
      - duedil/
  equifax:
    paths:
      - equifax/
  equifax_au:
    paths:
      - equifax_au/
  gdc_worldview:
    paths:
      - gdc_worldview/
  iovation:
    paths:
      - iovation/
  lexisnexis_id:
    paths:
      - lexisnexis_id/
  mastercard_match:
    paths:
      - mastercard_match/
  onfido:
    paths:
      - onfido/
  trulioo:
    paths:
      - trulioo/
  uk_charities_commission:
    paths:
      - uk_charities_commision/
  vsure:
    paths:
      - vsure/
  worldcheck:
    paths:
      - worldcheck/

Send consent data if present for country of address
  gdc_worldview/tests/test_passfort_to_worldview_conv.py
  gdc_worldview/worldview/api.py
  gdc_worldview/worldview/convert_data.py
Due: gdc_worldview

DJRC: Filter by country of address along with nationality
  dowjones_watchlist_api/app/api/types.py
  dowjones_watchlist_api/app/test_watchlist_client.py
  dowjones_watchlist_api/app/watchlist_client.py
Due: dowjones_watchlist_api

add capita deployment
  .circleci/config.yml
  capita/.dockerignore
  capita/Dockerfile
  capita/Makefile
  capita/Pipfile
  capita/Pipfile.lock
  capita/README.md
  capita/api/__init__.py
  capita/api/demo_response.py
  capita/api/views.py
  capita/app/__init__.py
  capita/capita/api.py
  capita/capita/convert_data.py
  capita/coverage
  capita/deployment.yaml
  capita/main.py
  capita/setup.cfg
  capita/tests/__init__.py
  capita/tests/conftest.py
  capita/tests/test_capita_api.py
  capita/tests/test_capita_to_passfort_conv.py
  capita/tests/test_demo_response.py
  capita/tests/test_passfort_to_capita_conv.py
  deploy.py
Due: none

fix exact errors
  creditsafe/app/api/types.py
Due: creditsafe

change /health-check to be the usual /health endpoint
  capita/README.md
  capita/api/views.py
  capita/tests/test_capita_api.py
Due: none

return mortality matches
  capita/capita/convert_data.py
  capita/tests/test_capita_to_passfort_conv.py
Due: none

fix UNKNOW ERROR typo
  capita/capita/convert_data.py
Due: none

fix tests and add reference number
  capita/capita/convert_data.py
  capita/tests/test_capita_to_passfort_conv.py
Due: none

update EU id card country code list
  capita/capita/convert_data.py
Due: none

send UK driving licence number and european ID card number
  capita/capita/convert_data.py
  capita/tests/test_passfort_to_capita_conv.py
Due: none

ignore driving license and id card without country codes
  capita/capita/convert_data.py
  capita/tests/test_passfort_to_capita_conv.py
Due: none

Change expected country code from GBP to GBR
  trulioo/trulioo/convert_data.py
Due: trulioo

Capita: Add demo data for mortality
  capita/api/demo_response.py
  capita/tests/test_demo_response.py
Due: none

Add correlationId to fix schematics error
  creditsafe/app/api/internal_types.py
  creditsafe/app/api/test_internal_types.py
  creditsafe/app/request_handler.py
Due: creditsafe

Wait one day to make sure the creditsafe batch job has run
  creditsafe/app/request_handler.py
  creditsafe/app/test_application.py
Due: creditsafe

Fix capita request fields and general data conversion
  capita/capita/convert_data.py
  capita/tests/test_capita_to_passfort_conv.py
  capita/tests/test_passfort_to_capita_conv.py
Due: none

Fix error handling
  capita/capita/convert_data.py
  capita/tests/test_capita_to_passfort_conv.py
Due: none

Safely check for key in dict
  capita/capita/convert_data.py
  capita/tests/test_passfort_to_capita_conv.py
Due: none

Fix Capita mortality check
  capita/capita/convert_data.py
  capita/tests/test_capita_to_passfort_conv.py
Due: none

Extract longitude, latitude, and proxy
  iovation/app/api/types.py
  iovation/app/test_types.py
  iovation/e2e/e2e.py
Due: iovation

Add logging for creditsafe response time
  creditsafe/app/request_handler.py
Due: creditsafe

Filter out unneeded addresses
  creditsafe/app/api/internal_types.py
Due: creditsafe

Revert "Add logging for creditsafe response time"
  creditsafe/app/request_handler.py
Due: creditsafe

Don't expect trading addresses in tests
  creditsafe/app/api/test_internal_types.py
Due: creditsafe

Revert "Fix creditsafe logging by passing as string"
  creditsafe/app/request_handler.py
Due: creditsafe

Revert "Extract more details"
  iovation/app/api/types.py
  iovation/app/test_types.py
  iovation/e2e/e2e.py
Due: iovation

Revert "Revert "Extract more details""
  iovation/app/api/types.py
  iovation/app/test_types.py
  iovation/e2e/e2e.py
Due: iovation

Remove limits on longitude and latitude
  iovation/app/api/types.py
Due: iovation

Add skeleton loqate service
  .circleci/config.yml
  deploy.py
  loqate/Dockerfile
  loqate/Makefile
  loqate/Pipfile
  loqate/Pipfile.lock
  loqate/README.md
  loqate/app/__init__.py
  loqate/app/api/__init__.py
  loqate/app/api/routes.py
  loqate/coverage
  loqate/deployment.yaml
  loqate/loqate_international_batch_cleanse/__init__.py
  loqate/loqate_international_batch_cleanse/api.py
  loqate/loqate_international_batch_cleanse/convert_data.py
  loqate/main.py
  loqate/setup.cfg
  loqate/tests/__init__.py
  loqate/tests/conftest.py
  loqate/tests/test_api.py
Due: none

Expose if test environment was used
  iovation/app/api/types.py
  iovation/app/request_handler.py
  iovation/app/test_types.py
  iovation/e2e/e2e.py
Due: iovation

Add some types and address conversion + tests
  loqate/README.md
  loqate/app/__init__.py
  loqate/app/api/error.py
  loqate/app/api/models.py
  loqate/app/api/routes.py
  loqate/loqate_international_batch_cleanse/convert_data.py
  loqate/tests/test_convert.py
Due: none

Implement api call to loqate
  loqate/app/api/models.py
  loqate/app/api/routes.py
  loqate/loqate_international_batch_cleanse/api.py
  loqate/tests/test_api.py
  loqate/tests/test_convert.py
Due: none

Allow empty first names
  dowjones_watchlist_api/app/api/dowjones_types.py
Due: dowjones_watchlist_api

add demo data
  loqate/loqate_international_batch_cleanse/api.py
  loqate/loqate_international_batch_cleanse/demo_data.py
Due: none

Be more lenient mapping CreditSafe 403s
  creditsafe/app/application.py
Due: creditsafe

Creditsafe: handle identification field missing and more errors
  creditsafe/app/api/internal_types.py
  creditsafe/app/api/test_internal_types.py
  creditsafe/app/application.py
  creditsafe/app/request_handler.py
Due: creditsafe

Fix typo on get report
  creditsafe/app/request_handler.py
Due: creditsafe

Return match custom labels for refer events
  worldcheck/app/api/formatter.py
  worldcheck/app/api/test_formatter.py
  worldcheck/app/api/types.py
Due: worldcheck

Remove assertion
  bvd/app/application.py
Due: bvd
