Repository PassFort/company-data-reference-integration: changes, and which Codecov flags are due for each by the changed paths.
All: bvd, cifas, comply_advantage, creditsafe, dowjones_watchlist_api, duedil, equifax, equifax_au, gdc_worldview, iovation, lexisnexis_id, mastercard_match, onfido, trulioo, uk_charities_commission, vsure, worldcheck

codecov.yml:

codecov:
  max_report_age: false
  archive:
    uploads: false

flags:
  # filter the folder(s) you wish to measure by that flag
  bvd:
    paths:
      - bvd/
  cifas:
    paths:
      - cifas/
  comply_advantage:
    paths:
      - comply_advantage/
  creditsafe:
    paths:
      - creditsafe/
  dowjones_watchlist_api:
    paths:
      - dowjones_watchlist_api/
  duedil:
    paths:
      - duedil/
  equifax:
    paths:
      - equifax/
  equifax_au:
    paths:
      - equifax_au/
  gdc_worldview:
    paths:
      - gdc_worldview/
  iovation:
    paths:
      - iovation/
  lexisnexis_id:
    paths:
      - lexisnexis_id/
  mastercard_match:
    paths:
      - mastercard_match/
  onfido:
    paths:
      - onfido/
  trulioo:
    paths:
      - trulioo/
  uk_charities_commission:
    paths:
      - uk_charities_commision/
  vsure:
    paths:
      - vsure/
  worldcheck:
    paths:
      - worldcheck/

Add more countries to exact search filter
  creditsafe/app/api/types.py
Due: creditsafe

Update codecov
  creditsafe/Pipfile
  creditsafe/Pipfile.lock
Due: creditsafe

Surface provider's unsupported country error
  trulioo/api/views.py
Due: trulioo

Handle JSON valid but non-country not supported error
  trulioo/api/views.py
Due: trulioo

Cover error response being JSON and not an object
  trulioo/api/views.py
Due: trulioo

Handle error response optionally having 'Message' field
  trulioo/api/views.py
Due: trulioo

FIX: convert country code to alpha 3
  trulioo/api/views.py
Due: trulioo

lexisnexis: Update requests parameters + fix API ver
  lexisnexis_id/lexisnexis/api.py
  lexisnexis_id/lexisnexis/convert_data.py
  lexisnexis_id/tests/test_lexisnexis_api.py
  lexisnexis_id/tests/test_passfort_to_lexisnexis_conv.py
Due: lexisnexis_id

Display Trulioo reference number
  trulioo/api/demo_response.py
  trulioo/tests/test_api.py
  trulioo/tests/test_demo_response.py
  trulioo/trulioo/convert_data.py
Due: trulioo

Update codecov for trulioo and carry forward unchanged flags
  codecov.yml
  trulioo/Pipfile
  trulioo/Pipfile.lock
Due: trulioo

Use standard directory for deployment so coverage is surfaced
  trulioo/Dockerfile
Due: trulioo

Send correct address fields for Brazil
  trulioo/api/views.py
  trulioo/tests/test_api.py
  trulioo/tests/test_passfort_to_trulioo_conv.py
  trulioo/tests/test_trulioo_to_passfort_conv.py
  trulioo/trulioo/convert_data.py
Due: trulioo

Fix loqate internal erros
  loqate/app/api/models.py
  loqate/app/api/routes.py
  loqate/main.py
Due: none

Fix screening request timing out for many matches
  dowjones_watchlist_api/app/api/types.py
  dowjones_watchlist_api/app/application.py
  dowjones_watchlist_api/e2e/e2e.py
Due: dowjones_watchlist_api

Fix Surname error when no surname given.
  dowjones_watchlist_api/app/api/dowjones_types.py
Due: dowjones_watchlist_api

add support for search profile option
  comply_advantage/app/api/internal_types.py
  comply_advantage/app/api/types.py
  comply_advantage/app/test_request_handler.py
Due: comply_advantage

Improve creditsafe error handling
  creditsafe/app/api/types.py
  creditsafe/app/application.py
  creditsafe/app/test_application.py
Due: creditsafe

handle loqate connection errors
  loqate/app/__init__.py
Due: none

BVD v4 - Stub integration
  .circleci/config.yml
  bvd_v4/Dockerfile
  bvd_v4/Makefile
  bvd_v4/Pipfile
  bvd_v4/Pipfile.lock
  bvd_v4/app/__init__.py
  bvd_v4/app/application.py
  bvd_v4/app/json_logger.py
  bvd_v4/coverage
  bvd_v4/deployment.yaml
  bvd_v4/e2e/__init__.py
  bvd_v4/e2e/e2e.py
  bvd_v4/main.py
  bvd_v4/tox.ini
  deploy.py
Due: none

Fetch and translate registry data
  bvd_v4/Pipfile
  bvd_v4/Pipfile.lock
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/types.py
Due: none

append streetnumber to route to build thoroughfare
  loqate/app/api/models.py
  loqate/tests/test_convert.py
Due: none

Parse national ids correctly
  capita/capita/convert_data.py
  capita/tests/test_passfort_to_capita_conv.py
Due: none

Don't send national id number since its not supported
  capita/capita/convert_data.py
  capita/tests/test_passfort_to_capita_conv.py
Due: none

Add company status and BvD9 to candidates in search response
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/types.py
Due: none

Log a warning if SENTRY_URL not provided
  bvd_v4/app/application.py
Due: none

Implement search via the match API functionality
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/types.py
  bvd_v4/app/validation.py
Due: none

Use search to retrieve BvD ID for registry check
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/types.py
  bvd_v4/app/validation.py
Due: none

Normalise response from BvD before importing into schematics models
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/maybe_list.py
  bvd_v4/app/bvd/test_maybe_list.py
  bvd_v4/app/bvd/test_prune_nones.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/types.py
Due: none

Handle failed country code conversion
  bvd_v4/app/bvd/client.py
  bvd_v4/app/passfort/types.py
Due: none

Check for the search profile when setting filters
  comply_advantage/app/api/internal_types.py
Due: comply_advantage

Udpate codecov
  comply_advantage/Pipfile
  comply_advantage/Pipfile.lock
Due: comply_advantage

Return adverse media events when using search profile
  comply_advantage/app/api/internal_types.py
  comply_advantage/app/api/types.py
  comply_advantage/app/test_request_handler.py
  comply_advantage/e2e/e2e.py
Due: comply_advantage

Refactor adverse_media filtering
  comply_advantage/app/api/internal_types.py
  comply_advantage/app/api/types.py
Due: comply_advantage

Only verify match on full address components
  trulioo/tests/test_trulioo_to_passfort_conv.py
  trulioo/trulioo/convert_data.py
Due: trulioo

Bvd v4 - Beneficial owner and structured company type data support
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/base_model.py
  bvd_v4/app/passfort/structured_company_type.py
  bvd_v4/app/passfort/types.py
Due: none

BvD v4 - Fetch and translate shareholder info
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/test_prune_nones.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/types.py
Due: none

Update error to match monolith unknown-country-error
  creditsafe/app/api/types.py
  creditsafe/app/application.py
  creditsafe/app/test_application.py
Due: creditsafe

credit-rating value is sometimes None so make it optional
  creditsafe/app/api/types.py
Due: creditsafe

no exact search for Malta
  creditsafe/app/api/types.py
Due: creditsafe

Map Kosovo's country code (UNK) to Serbia's (SRB) because Loqate still thinks Kosovo is part of Serbia.
  loqate/app/api/models.py
Due: none
