Repository PassFort/company-data-reference-integration: changes, and which Codecov flags are due for each by the changed paths.
All: bvd, comply_advantage, duedil, onfido, worldcheck, dowjones_watchlist_api

Add final check completion endpoint
  docver_reference_integration/app/application.py
  docver_reference_integration/tests/test_run_check.py
Due: none

Send callback from a spawned thread
  docver_reference_integration/app/application.py
  docver_reference_integration/app/startup.py
  docver_reference_integration/tests/startup.py
  docver_reference_integration/tests/test_run_check.py
Due: none

Add boilerplate mastercard MATCH integration
  .circleci/config.yml
  deploy.py
  mastercard_match/Dockerfile
  mastercard_match/Makefile
  mastercard_match/Pipfile
  mastercard_match/Pipfile.lock
  mastercard_match/__init__.py
  mastercard_match/app/__init__.py
  mastercard_match/app/application.py
  mastercard_match/coverage
  mastercard_match/deployment.yaml
  mastercard_match/main.py
  mastercard_match/mock_data/contact_request_example.json
  mastercard_match/mock_data/contact_response_example.json
  mastercard_match/mock_data/inquiry_request_example.json
  mastercard_match/mock_data/inquiry_response_example.json
  mastercard_match/tox.ini
Due: none

add health endpoint
  mastercard_match/app/application.py
Due: none

Move requests and requests-http-auth to requirements.txt
  docver_reference_integration/requirements-dev.txt
  docver_reference_integration/requirements.txt
Due: none

Creditsafe fixes for bad/missing info in the response
  creditsafe/app/api/internal_types.py
  creditsafe/app/api/test_internal_types.py
Due: none

Add demo data for all countries
  creditsafe/app/demo_handler.py
  creditsafe/app/test_application.py
  creditsafe/demo_data/global_report_generator.py
Due: none

Fix check template for docver integration
  docver_reference_integration/static/config.json
Due: none

Download images from run check request
  docver_reference_integration/app/api.py
  docver_reference_integration/app/application.py
  docver_reference_integration/app/startup.py
  docver_reference_integration/env_variables.yaml.envsubst
  docver_reference_integration/tests/startup.py
  docver_reference_integration/tests/test_run_check.py
Due: none

Add types for passfort and match
  mastercard_match/app/api/__init__.py
  mastercard_match/app/api/errors.py
  mastercard_match/app/api/match.py
  mastercard_match/app/api/passfort.py
  mastercard_match/app/application.py
Due: none

Reduce callback delay
  docver_reference_integration/app/application.py
Due: none

Surface current credit rating values
  creditsafe/app/api/internal_types.py
  creditsafe/app/api/test_internal_types.py
  creditsafe/app/api/types.py
  creditsafe/demo_data/global_report_generator.py
Due: none

fix types + add unittest
  mastercard_match/app/api/company_with_associate.json
  mastercard_match/app/api/match.py
  mastercard_match/app/api/passfort.py
  mastercard_match/app/api/test_passfort_to_match.py
Due: none

implement oauth authorization + request handler
  mastercard_match/Dockerfile
  mastercard_match/Pipfile
  mastercard_match/Pipfile.lock
  mastercard_match/app/application.py
  mastercard_match/app/auth/oauth.py
  mastercard_match/app/auth/utils.py
  mastercard_match/app/request_handler.py
Due: none

add unittest for normalize_params as per review
  mastercard_match/app/auth/test_auth.py
Due: none

Return birth place details as location on event
  dowjones_watchlist_api/app/api/dowjones_types.py
  dowjones_watchlist_api/app/api/types.py
  dowjones_watchlist_api/app/application.py
Due: dowjones_watchlist_api

Formatting change
  dowjones_watchlist_api/app/api/types.py
Due: dowjones_watchlist_api

Use primary name rather than matched name as PF match.name
  dowjones_watchlist_api/app/api/dowjones_types.py
  dowjones_watchlist_api/app/application.py
Due: dowjones_watchlist_api

Return copyright notice as field in event data
  dowjones_watchlist_api/app/api/dowjones_types.py
  dowjones_watchlist_api/app/api/types.py
  dowjones_watchlist_api/app/application.py
Due: dowjones_watchlist_api

Scope all doc-verification endpoints under `/docver`
  docver_reference_integration/app/application.py
  docver_reference_integration/app/auth.py
  docver_reference_integration/app/docver.py
  docver_reference_integration/static/docver/config.json
  docver_reference_integration/static/docver/metadata.json
  docver_reference_integration/tests/docver/__init__.py
  docver_reference_integration/tests/docver/test_config.py
  docver_reference_integration/tests/docver/test_demo_data.py
  docver_reference_integration/tests/docver/test_metadata.py
  docver_reference_integration/tests/docver/test_run_check.py
Due: none

DJ - Generate multiple events from a single match
  dowjones_watchlist_api/app/api/types.py
  dowjones_watchlist_api/app/application.py
Due: dowjones_watchlist_api

DJ - Update year in copyright notice dynamically
  dowjones_watchlist_api/app/application.py
Due: dowjones_watchlist_api

Produce an event per risk icon in the search result
  dowjones_watchlist_api/app/application.py
Due: dowjones_watchlist_api

Make birth place details optional
  dowjones_watchlist_api/app/api/dowjones_types.py
Due: dowjones_watchlist_api

Handle errors from pycountry
  bvd/bvd/officers.py
  bvd/bvd/shareholders.py
  bvd/bvd/test_shareholders.py
  bvd/bvd/test_utils.py
  bvd/bvd/utils.py
Due: bvd

Add docfetch endpoints
  docver_reference_integration/app/api.py
  docver_reference_integration/app/application.py
  docver_reference_integration/app/docfetch.py
  docver_reference_integration/static/docfetch/config.json
  docver_reference_integration/static/docfetch/metadata.json
Due: none

Add config and metadata tests
  docver_reference_integration/tests/docfetch/__init__.py
  docver_reference_integration/tests/docfetch/test_config.py
  docver_reference_integration/tests/docfetch/test_metadata.py
Due: none

Implement document-fetch flow
  docver_reference_integration/app/__init__.py
  docver_reference_integration/app/api.py
  docver_reference_integration/app/application.py
  docver_reference_integration/app/docfetch.py
  docver_reference_integration/app/docver.py
  docver_reference_integration/app/shared.py
  docver_reference_integration/static/docfetch/demo_image.png
  docver_reference_integration/tests/docfetch/test_run_check.py
  docver_reference_integration/tests/docver/test_demo_data.py
  docver_reference_integration/tests/docver/test_run_check.py
Due: none

add error handling
  mastercard_match/app/api/errors.py
  mastercard_match/app/application.py
  mastercard_match/app/request_handler.py
Due: none

add more types
  mastercard_match/app/api/match.py
  mastercard_match/app/api/passfort.py
  mastercard_match/app/api/test_passfort_to_match.py
Due: none

add requests for contact details and ongoing monitoring
  mastercard_match/__init__.py
  mastercard_match/app/request_handler.py
Due: none

fix match deployment
  .circleci/config.yml
Due: none

add test for match handler
  mastercard_match/Dockerfile
  mastercard_match/Pipfile
  mastercard_match/Pipfile.lock
  mastercard_match/__init__.py
  mastercard_match/app/request_handler.py
  mastercard_match/app/test_handler.py
  mastercard_match/test_data/paginate_test_0.json
  mastercard_match/test_data/paginate_test_1.json
  mastercard_match/test_data/test_api_key_sandbox_no_pass.pem
Due: none

Use a unique reference for callbacks
  docver_reference_integration/app/docfetch.py
  docver_reference_integration/app/docver.py
Due: none

Send DJ RnC 403 body to Kibana for debugging
  dowjones_watchlist_api/app/watchlist_client.py
Due: dowjones_watchlist_api

Fix upload date format
  docver_reference_integration/app/api.py
  docver_reference_integration/app/docfetch.py
Due: none

Document and publish reference integration
  .circleci/config.yml
  docver_reference_integration/README.md
Due: none

Publish EKYC reference integration and update README
  .circleci/config.yml
  README.md
  reference_integration/README.md
Due: none

Fix address formatting bugs
  iovation/app/api/types.py
Due: none

Remove removing post code and street address
  iovation/app/api/types.py
  iovation/app/test_types.py
Due: none

Path conditions:
  bvd: any of: bvd/
  comply_advantage: any of: comply_advantage/
  duedil: any of: duedil/
  onfido: any of: onfido/
  worldcheck: any of: worldcheck/
  dowjones_watchlist_api: any of: dowjones_watchlist_api/
