Repository PassFort/company-data-reference-integration: changes, and which Codecov flags are due for each by the changed paths.
All: bvd, cifas, comply_advantage, creditsafe, dowjones_watchlist_api, duedil, equifax, equifax_au, gdc_worldview, iovation, lexisnexis_id, mastercard_match, onfido, trulioo, uk_charities_commission, vsure, worldcheck

codecov.yml:

codecov:
  max_report_age: false
  archive:
    uploads: false

flags:
  # filter the folder(s) you wish to measure by that flag
  bvd:
    paths:
      - bvd/
    carryforward: true
  cifas:
    paths:
      - cifas/
    carryforward: true
  comply_advantage:
    paths:
      - comply_advantage/
    carryforward: true
  creditsafe:
    paths:
      - creditsafe/
    carryforward: true
  dowjones_watchlist_api:
    paths:
      - dowjones_watchlist_api/
    carryforward: true
  duedil:
    paths:
      - duedil/
    carryforward: true
  equifax:
    paths:
      - equifax/
    carryforward: true
  equifax_au:
    paths:
      - equifax_au/
    carryforward: true
  gdc_worldview:
    paths:
      - gdc_worldview/
    carryforward: true
  iovation:
    paths:
      - iovation/
    carryforward: true
  lexisnexis_id:
    paths:
      - lexisnexis_id/
    carryforward: true
  mastercard_match:
    paths:
      - mastercard_match/
    carryforward: true
  onfido:
    paths:
      - onfido/
    carryforward: true
  trulioo:
    paths:
      - trulioo/
    carryforward: true
  uk_charities_commission:
    paths:
      - uk_charities_commision/
    carryforward: true
  vsure:
    paths:
      - vsure/
    carryforward: true
  worldcheck:
    paths:
      - worldcheck/
    carryforward: true

Map unsupported countries to ZZZ for WorldCheck
  worldcheck/app/worldcheck_handler.py
Due: worldcheck

Add voter ID support to Trulioo
  trulioo/tests/test_passfort_to_trulioo_conv.py
  trulioo/trulioo/convert_data.py
Due: trulioo

Fix match count returned by Trulioo integration
  trulioo/trulioo/convert_data.py
Due: trulioo

Update tests
  trulioo/tests/test_api.py
  trulioo/tests/test_trulioo_to_passfort_conv.py
Due: trulioo

Implement company data check
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/constants.py
  bvd_v4/app/passfort/company_data.py
  bvd_v4/app/passfort/structured_company_type.py
  bvd_v4/app/passfort/types.py
Due: none

Take first registry number if BvD returns a list
  bvd_v4/app/passfort/types.py
Due: none

Set up A/B testing for Loqate address search
  loqate/app/api/models.py
  loqate/loqate_international_batch_cleanse/demo_data.py
  loqate/tests/test_convert.py
Due: none

Improve metrics and logging for creditsafe (and test metrics for the repo)
  codecov.yml
  creditsafe/app/application.py
  creditsafe/deployment.yaml
  creditsafe/unit_coverage
Due: creditsafe

Implement missing metadata fields
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/test_translation.py
  bvd_v4/app/passfort/types.py
  bvd_v4/demo_data/registry/partial.json
  bvd_v4/demo_data/registry/pass.json
Due: none

Run black formatter
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/maybe_list.py
  bvd_v4/app/bvd/test_prune_nones.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/constants.py
  bvd_v4/app/json_logger.py
  bvd_v4/app/passfort/company_data.py
  bvd_v4/app/passfort/structured_company_type.py
  bvd_v4/app/passfort/test_translation.py
  bvd_v4/app/passfort/types.py
  bvd_v4/app/validation.py
  bvd_v4/e2e/e2e.py
  bvd_v4/main.py
Due: none

Improve BvD client error handling
  bvd_v4/app/bvd/client.py
  bvd_v4/app/passfort/types.py
Due: none

Add demo data for all check types
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/types.py
  bvd_v4/demo_data/company_data/fail.json
  bvd_v4/demo_data/company_data/partial.json
  bvd_v4/demo_data/company_data/pass.json
  bvd_v4/demo_data/ownership/fail.json
  bvd_v4/demo_data/ownership/partial.json
  bvd_v4/demo_data/ownership/pass.json
  bvd_v4/demo_data/registry/fail.json
  bvd_v4/demo_data/registry/partial.json
  bvd_v4/demo_data/registry/pass.json
  bvd_v4/demo_data/search.json
  bvd_v4/demo_data/search/fail.json
  bvd_v4/demo_data/search/partial.json
  bvd_v4/demo_data/search/pass.json
Due: none

Company data e2e sanity test
  bvd_v4/Dockerfile
  bvd_v4/app/bvd/client.py
  bvd_v4/e2e/e2e.py
Due: none

Review cleanup
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/types.py
Due: none

Fix for bvd previous name data type
  bvd_v4/app/passfort/types.py
Due: none

Add endpoints for creating & adding to result sets
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/types.py
  bvd_v4/demo_data/add_to_record_set/pass.json
  bvd_v4/demo_data/create_record_set/pass.json
  bvd_v4/e2e/e2e.py
Due: none

Add test for company data officers
  bvd_v4/app/passfort/test_translation.py
  bvd_v4/demo_data/company_data/pass.json
Due: none

Add detail to officer relationship and tests
  bvd_v4/app/bvd/client.py
  bvd_v4/app/passfort/company_data.py
  bvd_v4/app/passfort/test_translation.py
  bvd_v4/app/passfort/types.py
  bvd_v4/demo_data/company_data/partial.json
  bvd_v4/demo_data/company_data/pass.json
  bvd_v4/demo_data/ownership/partial.json
Due: none

Add officer data to registry and company data checks
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/company_data.py
  bvd_v4/app/passfort/types.py
  bvd_v4/demo_data/company_data/partial.json
  bvd_v4/demo_data/registry/pass.json
Due: none

Trulioo: Add configuration option to match address on City/StateProvinceCode
  trulioo/api/views.py
  trulioo/tests/test_trulioo_to_passfort_conv.py
  trulioo/trulioo/convert_data.py
Due: trulioo

Send correctly formatted dates to creditsafe
  creditsafe/app/request_handler.py
Due: creditsafe

Only fetch specific event types in each request
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/types.py
Due: none

Return correct event types from constructors
  bvd_v4/app/passfort/types.py
Due: none

Run formatter
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/client.py
  bvd_v4/app/passfort/test_translation.py
  bvd_v4/app/passfort/types.py
  bvd_v4/e2e/e2e.py
Due: none

Add endpoint for fetching monitoring events
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/client.py
  bvd_v4/app/passfort/types.py
Due: none

BvD v4: Send data field list in POST body instead of query params
  bvd_v4/app/bvd/client.py
Due: none

Fixes from testing integrated with the monolith
  bvd_v4/app/bvd/datasets.py
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/company_data.py
  bvd_v4/app/passfort/test_translation.py
  bvd_v4/app/passfort/types.py
  bvd_v4/demo_data/company_data/pass.json
Due: none

Fix Kubernetes APIVersion
  base/deployment.yaml
  bvd/deployment.yaml
  bvd_v4/deployment.yaml
  capita/deployment.yaml
  cifas/deployment.yaml
  comply_advantage/deployment.yaml
  creditsafe/deployment.yaml
  dowjones_watchlist_api/deployment.yaml
  duedil/deployment.yaml
  equifax/deployment.yaml
  equifax_au/deployment.yaml
  gdc_worldview/deployment.yaml
  iovation/deployment.yaml
  mastercard_match/deployment.yaml
  onfido/deployment.yaml
  trulioo/deployment.yaml
  uk_charities_commission/deployment.yaml
  vsure/deployment.yaml
  worldcheck/deployment.yaml
Due: bvd, cifas, comply_advantage, creditsafe, dowjones_watchlist_api, duedil, equifax, equifax_au, gdc_worldview, iovation, mastercard_match, onfido, trulioo, vsure, worldcheck

Return address in semi-structured format
  bvd_v4/app/bvd/types.py
  bvd_v4/app/passfort/types.py
Due: none

Relax requirements on Loqate requests
  loqate/app/api/models.py
Due: none

Be more lenient matching company numbers in CreditSafe Search
  creditsafe/app/api/fuzzy.py
  creditsafe/app/api/internal_types.py
  creditsafe/app/api/test_internal_types.py
Due: creditsafe

Add end_date to bvd monitoring callback
  bvd_v4/app/application.py
  bvd_v4/app/passfort/client.py
Due: none

Never send exact=True for Creditsafe search
  creditsafe/app/api/types.py
  creditsafe/app/test_application.py
Due: creditsafe

Trulioo - handle missing issuing state
  trulioo/trulioo/convert_data.py
Due: trulioo

Limit number of Creditsafe shareholders to 50
  creditsafe/app/api/internal_types.py
Due: creditsafe

Pass company name to bvd search handler
  bvd_v4/app/application.py
  bvd_v4/app/passfort/types.py
Due: none

Fix error when company name has space for bvd
  bvd_v4/app/application.py
  bvd_v4/app/bvd/client.py
  bvd_v4/demo_data/company_data/partial.json
Due: none

Return percentages out of 100 and make tests run
  bvd_v4/Pipfile
  bvd_v4/app/bvd/__init__.py
  bvd_v4/app/bvd/test_prune_nones.py
  bvd_v4/app/passfort/__init__.py
  bvd_v4/app/passfort/test_translation.py
  bvd_v4/app/passfort/types.py
Due: none

Return correct relationships from contacts
  bvd_v4/app/passfort/company_data.py
  bvd_v4/app/passfort/test_translation.py
Due: none

Iovation - Submit Kosovo as Serbia
  iovation/app/api/types.py
  iovation/app/test_types.py
Due: iovation
