Repository PassFort/company-data-reference-integration: changes, and which Codecov flags are due for each by the changed paths.
All: bvd, comply_advantage, duedil, onfido, worldcheck, dowjones_watchlist_api

codecov.yml:

codecov:
  max_report_age: false
  archive:
    uploads: false

flags:
  # filter the folder(s) you wish to measure by that flag
  bvd:
    paths:
      - bvd/
  comply_advantage:
    paths:
      - comply_advantage/
  duedil:
    paths:
      - duedil/
  onfido:
    paths:
      - onfido/
  worldcheck:
    paths:
      - worldcheck/
  dowjones_watchlist_api:
    paths:
      - dowjones_watchlist_api/

Fix single character typo in README
  reference_integration/README.md
Due: none

Correctly handle error demo results
  docver_reference_integration/app/api.py
  docver_reference_integration/app/docfetch.py
  docver_reference_integration/app/docver.py
Due: none

Handle unrecognised country code from Iovation
  iovation/app/api/types.py
Due: none

Don't require latestRatingChangeDate for Creditsafe
  creditsafe/app/api/types.py
Due: none

Make psc have higher priority than shareholder
  creditsafe/app/api/internal_types.py
Due: none

Track coverage for all services
  codecov.yml
Due: none

Setup deployment for gdc
  .circleci/config.yml
  deploy.py
  gdc_worldview/Dockerfile
  gdc_worldview/Makefile
  gdc_worldview/Pipfile
  gdc_worldview/Pipfile.lock
  gdc_worldview/coverage
  gdc_worldview/deployment.yaml
Due: none

Add initial GDC integration
  gdc_worldview/Pipfile
  gdc_worldview/Pipfile.lock
  gdc_worldview/README.md
  gdc_worldview/api/__init__.py
  gdc_worldview/api/demo_response.py
  gdc_worldview/api/views.py
  gdc_worldview/app/__init__.py
  gdc_worldview/main.py
  gdc_worldview/setup.cfg
  gdc_worldview/tests/__init__.py
  gdc_worldview/tests/conftest.py
  gdc_worldview/tests/test_demo_response.py
  gdc_worldview/tests/test_passfort_to_worldview_conv.py
  gdc_worldview/tests/test_worldview_api.py
  gdc_worldview/tests/test_worldview_to_passfort_conv.py
  gdc_worldview/worldview/api.py
  gdc_worldview/worldview/convert_data.py
Due: none

Fix coverage for gdc
  gdc_worldview/Dockerfile
  gdc_worldview/Makefile
Due: none

Fix minor bugs
  gdc_worldview/api/views.py
  gdc_worldview/tests/test_worldview_api.py
  gdc_worldview/tests/test_worldview_to_passfort_conv.py
  gdc_worldview/worldview/api.py
  gdc_worldview/worldview/convert_data.py
Due: none

Update readiness endpoint
  gdc_worldview/deployment.yaml
Due: none

Add DevGrid fixes for GDC
  gdc_worldview/tests/test_worldview_to_passfort_conv.py
  gdc_worldview/worldview/convert_data.py
Due: none

Make name an optional attribute
  creditsafe/app/api/internal_types.py
  creditsafe/app/api/test_internal_types.py
Due: none

Fix deploy
  .circleci/config.yml
Due: none

Handle GDC database indexes of any length
  gdc_worldview/tests/test_worldview_to_passfort_conv.py
  gdc_worldview/worldview/convert_data.py
Due: none

Worldcheck: Submit country of address to provider
  worldcheck/app/api/formatter.py
  worldcheck/app/api/test_formatter.py
  worldcheck/app/api/types.py
  worldcheck/app/test_world_check_handler.py
  worldcheck/app/worldcheck_handler.py
Due: worldcheck

Use worldcheck 1.6 to fetch list of resolution toolkits
  worldcheck/Pipfile
  worldcheck/Pipfile.lock
  worldcheck/app/auth.py
  worldcheck/app/worldcheck_handler.py
Due: worldcheck

Worldcheck: Filter results marked 'FALSE' by provider
  worldcheck/app/api/types.py
  worldcheck/app/worldcheck_handler.py
  worldcheck/e2e/e2e.py
Due: worldcheck

Add counter for worldcheck results
  worldcheck/app/application.py
  worldcheck/app/worldcheck_handler.py
  worldcheck/e2e/e2e.py
Due: worldcheck

Fixes as per review
  worldcheck/app/api/formatter.py
  worldcheck/app/api/test_formatter.py
  worldcheck/app/worldcheck_handler.py
Due: worldcheck

WorldCheck monitoring - get data for at most 3 days
  worldcheck/app/application.py
  worldcheck/e2e/e2e.py
Due: worldcheck

Use DisableDQchecks parameter
  gdc_worldview/tests/test_worldview_api.py
  gdc_worldview/worldview/api.py
Due: none

Surface 1+1 and 2+2 matches from GDC
  gdc_worldview/tests/test_worldview_to_passfort_conv.py
  gdc_worldview/worldview/convert_data.py
Due: none

Update demo data to support IDs
  gdc_worldview/api/demo_response.py
  gdc_worldview/tests/test_demo_response.py
Due: none

GDC: Send the identity number based on country of address
  gdc_worldview/tests/test_passfort_to_worldview_conv.py
  gdc_worldview/worldview/convert_data.py
Due: none

use config settings
  mastercard_match/app/api/match.py
  mastercard_match/app/api/passfort.py
  mastercard_match/app/application.py
  mastercard_match/app/request_handler.py
Due: none

Change outputs to event format
  mastercard_match/Pipfile
  mastercard_match/Pipfile.lock
  mastercard_match/app/api/match.py
  mastercard_match/app/api/passfort.py
  mastercard_match/app/request_handler.py
Due: none

* add match reason code descriptions * add convert test * fix tests
  mastercard_match/app/api/company_with_associate.json
  mastercard_match/app/api/match.py
  mastercard_match/app/api/passfort.py
  mastercard_match/app/api/passfort_convert.py
  mastercard_match/app/api/test_match_to_passfort.py
  mastercard_match/app/api/test_passfort_to_match.py
  mastercard_match/app/application.py
  mastercard_match/app/request_handler.py
  mastercard_match/app/test_handler.py
  mastercard_match/test_data/paginate_test_0.json
  mastercard_match/test_data/paginate_test_1.json
Due: none

CreditSafe don't always return a shareholding percentage, so make it optional
  creditsafe/app/api/internal_types.py
  creditsafe/app/api/types.py
  creditsafe/demo_data/reports/duedil.json
Due: none

Catch 404s when disabling monitoring
  worldcheck/app/application.py
Due: worldcheck

Log HTTP headers and body on worldcheck requests
  worldcheck/app/auth.py
Due: worldcheck

Don't split associate matches into different events
  mastercard_match/app/api/match.py
  mastercard_match/app/api/passfort_convert.py
  mastercard_match/app/request_handler.py
Due: none

Add charging support
  docver_reference_integration/static/docfetch/config.json
  docver_reference_integration/static/docver/config.json
  reference_integration/app/api.py
  reference_integration/app/application.py
Due: none

add endpoint to support ongoing monitoring
  mastercard_match/app/api/match.py
  mastercard_match/app/api/passfort.py
  mastercard_match/app/api/passfort_convert.py
  mastercard_match/app/application.py
  mastercard_match/app/request_handler.py
Due: none

add demo response
  mastercard_match/Dockerfile
  mastercard_match/app/api/match.py
  mastercard_match/app/api/passfort.py
  mastercard_match/app/api/passfort_convert.py
  mastercard_match/app/request_handler.py
  mastercard_match/demo_data/demo_pass_response.json
  mastercard_match/demo_data/demo_response.json
  mastercard_match/mock_data/contact_request_example.json
  mastercard_match/mock_data/contact_response_example.json
  mastercard_match/mock_data/inquiry_request_example.json
  mastercard_match/mock_data/inquiry_response_example.json
Due: none

Handle Cifas Fault errors
  cifas/app/application.py
  cifas/cifas/__init__.py
  cifas/cifas/api_client.py
  cifas/passfort/error.py
  cifas/tests/test_api_client.py
Due: none

Upgrade alpine across all images to reduce vulnerabilities
  base/Dockerfile
  bvd/Dockerfile
  cifas/Dockerfile
  comply_advantage/Dockerfile
  creditsafe/Dockerfile
  dowjones_watchlist_api/Dockerfile
  duedil/Dockerfile
  equifax/Dockerfile
  equifax_au/Dockerfile
  gdc_worldview/Dockerfile
  iovation/Dockerfile
  lexisnexis_id/Dockerfile
  mastercard_match/Dockerfile
  onfido/Dockerfile
  trulioo/Dockerfile
  uk_charities_commission/Dockerfile
  vsure/Dockerfile
  worldcheck/Dockerfile
Due: bvd, comply_advantage, duedil, onfido, worldcheck, dowjones_watchlist_api

Retry once on auth failure
  worldcheck/app/auth.py
Due: worldcheck

Allow detailed match data to be pulled from CIFAS
  cifas/Pipfile
  cifas/Pipfile.lock
  cifas/app/application.py
  cifas/cifas/api_client.py
  cifas/cifas/codes.py
  cifas/cifas/search.py
  cifas/passfort/__init__.py
  cifas/passfort/cifas_check.py
  cifas/passfort/error.py
  cifas/passfort/fraud_detection.py
  cifas/passfort_demo/__init__.py
  cifas/tests/__init__.py
  cifas/tests/members.xml
  cifas/tests/test_application.py
  cifas/tests/test_cifas_to_passfort.py
Due: none

Return GDC unique reference number
  gdc_worldview/tests/test_worldview_to_passfort_conv.py
  gdc_worldview/worldview/convert_data.py
Due: none
